/*
Start: Fix select2 on top of datepickers
*/
html .ui-datepicker {
	z-index: 11000 !important;
}

html .select2-container {
	z-index: 10000 !important;
}
/*
End: Fix select2 on top of datepickers
*/

/*
Start: Fix welcome panel (FEEL FREE TO REMOVE THIS IF FIXED ELSEWHERE)
*/
.welcome-panel .welcome-panel-column-container {
	background: none;
}

@media (min-width: 1180px) {
	.welcome-panel .welcome-panel-column-container {
		justify-content: space-between;
		gap: 80px;
	}

	.welcome-panel-column {
		max-width: none !important;
	}

	.welcome-panel .sig {
		grid-column: 1 / 3;
	}
}
/*
End: Fix welcome panel
*/

/*
Start: Admin notices
*/
.ah-admin-notice {
	padding-right: 38px;
	position: relative
}

.ah-admin-notice .notice-dismiss {
	text-decoration: none;
}

.ah-admin-notice.ah-dismissing .notice-dismiss::before {
	content: "\f531";
	animation: ah_spin 0.5s linear infinite;
	cursor: default;
}

@keyframes ah_spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}
/*
End: Admin notices
*/