/*
Start: General admin dashboard
*/
@import 'dashicon/AH.css';

html { background: #f0f0f1; }
body { background: none; }

.dashicons.ah-dashicon-inline {
	vertical-align: text-bottom;
}

.acf-field .acf-label > p.description:first-child {
	margin-top: 0;
}

/*
End: General admin dashboard
*/

/*
Start: Fix select2 on top of datepickers
*/
html .ui-datepicker {
	z-index: 11000 !important;
}

html .select2-container {
	z-index: 10000 !important;
}
/*
End: Fix select2 on top of datepickers
*/

/*
Start: Admin notices
*/
.ah-admin-notice {
	padding-right: 38px;
	position: relative
}

.ah-admin-notice .notice-dismiss {
	text-decoration: none;
}

.ah-admin-notice.ah-dismissing .notice-dismiss::before {
	content: "\f531";
	animation: ah_spin 0.5s linear infinite;
	cursor: default;
}

@keyframes ah_spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}
/*
End: Admin notices
*/

/*
Start: Custom admin page form
       (see: Smartsheet Settings -> Hotel Info)
*/
.ah-admin-field {
	margin: 5px 0 10px;
}

.ah-admin-field .ah-label {
	margin-bottom: 5px;
}

.ah-admin-field .ah-label label {
	font-weight: 500;
}

/* Field list */
.ah-field-list {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px 5px;
}

.ah-field-list label {
	grid-column: 1;
	text-align: right;
	margin-top: 6px;
}

.ah-field-list .ah-field {
	grid-column: 2;
}
/*
End: Custom admin page form
*/

/*
Start: Custom admin postbox with scrolling sidebar
*/
@media ( min-width: 1000px ) {
	.postbox-container {
		position: relative;
	}

	.postbox-container .ah-postbox-sticky {
		position: sticky;
		top: 50px;
		overflow: auto;
		max-height: calc(100vh - 50px);
	}

	.ah-metabox-holder {
		margin-right: 0 !important;
		display: grid;
		grid-template-columns: 1fr 280px;
		grid-gap: 20px;
	}

	.ah-metabox-holder > .ah-postbox-sidebar {
		grid-area: 1 / 2;
	}

	.ah-metabox-holder > .ah-postbox-main {
		grid-area: 1 / 1;
	}
}
/*
End: Custom admin postbox with scrolling sidebar
*/

/*
Start: Hotel Info page
*/
.ah-admin-table {
	margin: 10px 0 20px;
	padding: 10px;

	background: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
}

.ah-admin-table:last-child {
	margin-bottom: 0;
}

.ah-admin-table-fixed {
	table-layout: fixed;
	width: 100%;
}

.ah-admin-table th {
	padding-bottom: 8px;
	border-bottom: 1px solid #dfdfdf;
}

.ah-admin-table th,
.ah-admin-table td {
	vertical-align: top;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.ah-admin-table tbody tr td:not(:hover) span.cell {
	display: block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ah-admin-table tbody tr:hover {
	background: rgba(255,255,0,0.15);
}

.ah-admin-table .col-smartsheet_name,
.ah-admin-table .col-smartsheet_id,
.ah-admin-table .col-wordpress_title {
	width: 150px;
}
@media ( min-width: 800px ) {
	.ah-admin-table .col-smartsheet_name,
	.ah-admin-table .col-smartsheet_id,
	.ah-admin-table .col-wordpress_title {
		width: 240px;
	}
}
/*
End: Hotel Info page
*/

/*
Start: Post List Columns
*/
table.wp-list-table .column-ah_review { width: 150px; }
table.wp-list-table .column-ah_image { width: 150px; }
table.wp-list-table .column-ah_sync { width: 100px; }
/*
End: Post List Columns
*/

/*
Start: Content review columns (Villages/Hotels)
*/
.ah-review-valid {
	color: #cccccc;
}

.ah-review-valid:hover,
.ah-review-valid:focus {
	color: #676767;
}

.ah-review-invalid {
	color: #d06161;
}
.ah-review-invalid:hover,
.ah-review-invalid:focus {
	color: #ff3434;
}

/*
End: Content review columns (Villages/Hotels)
*/