
/*
Start: Login Form
*/
#ah-login-form p {
	margin: 0 0 20px;
}

#ah-login-form > p:last-child {
	margin-bottom: 0;
}

#ah-login-form label {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.35;
	margin: 0 0 5px;
}

#ah-login-form p.login-remember label {
	font-weight: 400;
}

#ah-login-form input[type="text"],
#ah-login-form input[type="password"] {
	margin: 0;
}

#ah-login-form input[type="checkbox"] {
	margin: 0 5px 0 0;
}

#ah-login-form input[type="submit"] {
	margin: 0 !important;
}
/*
End: Login Form
*/



/*
Start: Login Form - Blue Box Theme
*/
#ah-login-form {
	display: inline-block;
	background: #204f66;
	margin: 0;
	padding: 25px;
	text-align: center;
}

#ah-login-form label {
	color: #fff;
}

#ah-login-form input[type="text"],
#ah-login-form input[type="password"] {
	background: #fff;
	border-color: #fff;
	color: #3b3d3d;
	width: 100%;
}

#ah-login-form p.login-username label,
#ah-login-form p.login-password label {
	text-align: left;
}

#ah-login-form input[type="checkbox"] {
}

#ah-login-form input[type="submit"]:hover {
	background-color: #fff;
	border-color: #fff;
	color: #204f66;
}

@media ( min-width: 500px ) {
	#ah-login-form {
		width: 500px;
		max-width: 100%;
		padding: 25px 40px;
	}
}
/*
End: Login Form - Blue Box Theme
*/


/*
START: Accordions [ah_accordion]
See shortcodes/ah_accordion.php and global.js for details
*/
.ah-accordion {
	margin: 10px 0 0;
	border: 1px solid #dfdfdf;
}

.ah-accordion + .ah-accordion {
	margin-top: 0;
	border-top: none;
}

.ah-accordion .ah-handle {
	position: relative;
}

.ah-accordion .ah-handle a,
.ah-accordion .ah-handle button {
	display: block;
	padding: 10px 12px;
	color: inherit;
	text-decoration: none;
}

.ah-accordion .ah-handle a:hover,
.ah-accordion .ah-handle button:hover {
	background: rgba( 0, 0, 0, 0.02 );
}

.ah-accordion .ah-handle .ah-arrow {
	position: relative;
	margin-right: 8px;

	display: inline-block;
	width: 6px;
	height: 6px;
	border-top: 2px solid #787c82;
	border-left: 2px solid #787c82;

	top: -3px;
	transform: rotate(225deg);
	transition: all 0.1s linear;
}

.ah-accordion.ah-collapsed .ah-handle .ah-arrow {
	top: -1px;
	transform: rotate(135deg);
}

.ah-accordion .ah-content {
	padding: 10px 12px;
	border-top: 1px solid #dfdfdf;
	background: rgba( 0, 0, 0, 0.04 );
}

.ah-accordion.ah-collapsed .ah-content {
	display: none;
}

.wp-admin .ah-accordion .ah-handle a,
.wp-admin .ah-accordion .ah-handle button {
	font-weight: 500;
}
/*
END: Accordions [ah_accordion]
*/