/* This CSS is used in the PDF and on the front-end when displaying pdf-able content like villages, itineraries, hikes */
.ah-page-view {
	margin: 40px 0;
}

.ah-page-view {
	max-width: 815px;
	margin: 40px auto;
}

.pdf-page {
	margin-bottom: 40px;
}

.pdf-page h2 {
	margin: 40px 0 10px;
}

.pdf-page h1 + h2,
.pdf-page h2 + h2 {
	margin: 10px 0;
}

.pdf-page h3 {
	margin: 30px 0 5px;
}

#content-wrapper {
}

.section-image img {
	width: auto;
	height: auto;
}

.full-page-image img {
	object-fit: contain;
}

@media ( min-width: 768px ) {
	.ah-pdf-download-button {
		float: right;
		position: relative;
		z-index: 2;
		margin: 0 0 10px 15px;
	}
}

@media ( max-width: 767.9px ) {
	.ah-pdf-download-button {
		margin: 20px 0;
	}
}

/* Start: Images */
.full-page-image {
}

.full-page-image img {
	width: 100%;
	max-width: 815px;
	height: auto;
}
/* End: Images */

/* Start: Schedule */
@media ( max-width: 650px ) {
	table.schedule-table .column {
		display: block;
		padding: 5px 15px;
		text-align: left;
		width: auto;
		border: none;
	}

	table.schedule-table tr {
		display: block;
		/*margin: 0 -20px;*/
		padding: 0 5px;
	}

	table.schedule-table .column-1 { padding-top: 15px; }
	table.schedule-table .column-3 { padding-bottom: 15px; }

	table.schedule-table .column-1 {
		font-weight: bold;
	}
}
/* End: Schedule */

/* Start: Directory */
@media ( max-width: 650px ) {
	table.directory-table,
	table.directory-table tbody,
	table.directory-table tr {
		display: block;
	}

	table.directory-table tr {
		margin-bottom: 10px;
	}

	table.directory-table .column {
		display: block;
		padding: 0;
		margin: 0;
		text-align: left;
		width: auto;
		border: none;
	}

	table.directory-table .column.phone-number {
		font-weight: bold;
	}
}
/* End: Directory */


/* Start: Hike List */
@media ( max-width: 650px ) {
	.itinerary-hike-summary ul.hike-list li a {
		display: block;
		overflow: auto;
		padding: 0 0 8px;
	}
}
/* End: Hike List */