/* This CSS is used in the PDF and on the front-end when displaying pdf-able content like villages, itineraries, hikes */

.clear { clear: both; }

.font-freight-text-pro {
	font-family: 'freight-text-pro', serif;
}

.font-fraunces {
	font-family: 'fraunces', serif;
}

.font-montserrat {
	font-family: 'montserrat', sans-serif;
}

.font-ammer-handwriting {
	font-family: 'ammer-handwriting', cursive;
}

.pdf-page h1 {
	font-family: 'fraunces', serif;
}

.pdf-page h2, .pdf-page h3,
.pdf-page h4, .pdf-page h5,
.pdf-page h6 {
	font-family: 'freight-text-pro', serif;
}

.pdf-page img {
	height: auto;
	max-width: 100%;
}

.pdf-page table {
	border-collapse: collapse;
}

.pdf-page table.schedule-table tr:nth-child(odd):not(:last-child) {
	background: #f4f6f7;
}

.pdf-page table.directory-table .title,
.pdf-page .country-codes strong {
	color: #204f66;
}

.pdf-page li {
	margin-bottom: 10px;
}

.section-logo {
	margin: -20mm -20mm 40px;
	padding: 16mm 20mm;
	background: #2a4e68;
	color: #fff;
}

.pdf-page .section-document {
	margin: 0 0 20px;
	text-align: center;

	page-break-inside: avoid;
}

bookmark {
	display: none;
}

/* Start: Typography */
.pdf-page p {
	font-size: 18px; /* 16px on pdf, see pdf.css */
	line-height: 1.5em;
}

.pdf-page h1 {
	font-size: 36px;
	line-height: 1.1;
}

.pdf-page h2 {
	font-size: 28px;
	line-height: 1.1;
}

.pdf-page h3,
.pdf-page h4,
.pdf-page h5,
.pdf-page h6 {
	font-size: 20px;
	line-height: 1.1;
}

.pdf-page .subheading {
	font-family: 'Montserrat', sans-serif;
}

.pdf-page p {
	display: block;
	margin: 0 0 20px;
	padding: 0;
}

@media ( max-width: 980px ) {
	.pdf-page h1 {
		font-size: 26px;
	}

	.pdf-page h2 {
		font-size: 22px;
	}

	.pdf-page h3,
	.pdf-page h4,
	.pdf-page h5,
	.pdf-page h6 {
		font-size: 18px;
	}
}

/* End: Typography */


/* Start: Columns */
/*
.pdf-row {}

.pdf-row .column { float: left; }

.pdf-row.columns-1 .column-1 { width: 48%; }

.pdf-row.columns-2 .column-1 { width: 48%; padding-right: 2%; }
.pdf-row.columns-2 .column-2 { width: 48%; padding-left: 2%; }
*/
/* End: Columns */


/* Start: Print pages */
.pdf-page {
	position: relative;
}

.page-break {
	page-break-before: always;
}
/* End: Print pages */


/* Start: Logo */
.section-logo img {
	width: 300px;
	height: auto;
}
/* End: Logo */


/* Start: Layout */
.section-heading {
	margin: 0 0 10px;
}

.section-image,
.section-content {
	margin: 10px 0;
}
/* End: Layout */

/* Start: Page Heading */
.section-heading {
	text-align: left;
}
/* End: Page Heading */

/* Start: Images */
.section-image {
	clear: both;
	text-align: center;
	margin: 0 0 20px;
}
/* End: Images */

/* Start: Tables */
.pdf-page table th,
.pdf-page table td {
	padding: 3px;
}
/* End: Tables */

/* Start: Itinerary Schedule */
table.schedule-table {
	table-layout: fixed;
	width: 100%;
	margin: 0;
}

table.schedule-table a {
	text-decoration: none;
}

table.schedule-table .column {
	vertical-align: top;
	padding-bottom: 10px;
}

table.schedule-table .column-1 {
	width: 150px;
	padding-right: 20px;
}

table.schedule-table .column-2 {
	width: auto;
	padding-right: 20px;
}

table.schedule-table .column-3 {
	width: 150px;
	text-align: right;
}
/* End: Itinerary Schedule */

/* Start: Itinerary Phone Numbers */
table.directory-table {
	table-layout: fixed;
	width: 100%;
	margin: 0;
}

table.directory-table .column {
	padding-bottom: 2px;
}

table.directory-table .content.column {
	padding-bottom: 10px;
}

table.directory-table .title {
	font-family: 'Fraunces', serif;
	font-weight: bold;
}

table.directory-table .content {

}

table.directory-table .column-1 {
	width: auto;
	padding-right: 20px;
}

table.directory-table .column-2 {
	width: 150px;
	text-align: right;
}

.country-codes strong {
	font-family: 'Fraunces', serif;
	font-weight: bold;
}
/* End: Itinerary Phone Numbers */

/* Start: Hike List */
.itinerary-hike-summary h3 a {
	color: inherit;
	text-decoration: none;
}

.itinerary-hike-summary h3,
.itinerary-hike-summary ul.hike-list {
	margin: 0 0 15px;
}
/* End: Hike List */

/* Start: Hikes */
ul.hike-link-list {
	margin: 10px 0;
}
/* End: Hikes */