/* This CSS is used in the PDF and on the front-end when displaying pdf-able content like villages, itineraries, hikes */
.ah-page-view {
	margin: 40px 0;
}

.ah-page-view {
	max-width: 815px;
	margin: 40px auto;
}

.pdf-page {
	margin-bottom: 40px;
}

#content-wrapper {
}

.section-image img {
	width: auto;
	height: auto;
}

.full-page-image img {
	object-fit: contain;
}

/* Start: Images */
.full-page-image {
}

.full-page-image img {
	width: 100%;
	max-width: 815px;
	height: auto;
}
/* End: Images */