/*
Start: Gravity Forms
*/
body.account-page .gform_wrapper {
	max-width: none !important;
	margin: 0 !important;
}
/*
End: Gravity Forms
*/

/*
Start: Account Menus
*/
.account-columns {
	margin: 40px 0;
}

.account-content > .flex-section:first-child {
	margin-top: 0;
}

.account-content > .flex-section:last-child {
	margin-bottom: 0;
}

@media ( min-width: 980.1px ) {
	.account-columns {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-gap: 0 40px;
	}

	/* Sticky account sidebar */
	.account-sidebar {
		position: relative;
	}

	.ah-mobile-account-nav {
		position: sticky;
		top: 50px;
		overflow: auto;
		max-height: calc( 100vh - 50px );
	}
	/* End sticky account sidebar */

}

@media ( max-width: 980px ) {
	.account-sidebar {
		margin-bottom: 20px;
	}

	.account-content .content-block {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
/*
End: Account Menus
*/

/*
Start: Status indicators --- DISABLED 3/1/2023
*/

/*
.ah-invoice-status-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #eee;
	transform: translateY( -1px );
	margin-right: 2px;
}

.ah-invoice-status-indicator.status-awaiting-payment { background: #0d83bc; }
.ah-invoice-status-indicator.status-processing { background: #bcb30d; }
.ah-invoice-status-indicator.status-payment-failed { background: #d54f10; }
.ah-invoice-status-indicator.status-paid { background: #c1c1c1; display: none; }
*/
/*
End: Status indicators
*/


/*
Start: Custom buttons
*/
html .ah-button.button {
	font-size: 14px;
	padding: 10px 20px;

	background: #aa4a3a;
	color: #fff;
	border: 1px solid #aa4a3a;
}

@media ( min-width: 1200px ) {
	html .ah-button.button {
		font-size: 16px;
		padding: 15px 25px;
	}
}

html .ah-button.button:hover,
html .ah-button.button:active {
	background: #204f66;
	color: #fff;
	border: 1px solid #204f66;
}

html .ah-button.button-secondary {
	background: transparent;
	color: #aa4a3a;
	border: 1px solid #aa4a3a;
}
html .ah-button.button-secondary:hover,
html .ah-button.button-secondary:active {
	background: #dee5e8;
	color: #204f66;
	border: 1px solid #204f66;
}

/*
End: Custom buttons
*/

/*
Start: Invoice singular page
*/
.invoice-additional-details {
	margin-top: 40px;
}
/*
End: Invoice singular page
*/

/*
Start: Account Sidebar
*/
.ah-account-menu-nav {
	background: #f1f1f1;
	padding: 40px 30px 25px;
}

nav.ah-account-menu-nav ul,
nav.ah-account-menu-nav li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.ah-account-menu-nav {
	font-size: 14px;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	line-height: 1.35;
}

nav.ah-account-menu-nav ul {
}

nav.ah-account-menu-nav li {
	margin: 5px 0 10px;
}

nav.ah-account-menu-nav li a {
	display: inline-block;
	padding: 4px 0;
}

.account-sidebar .chevron {
	display: none;
}

nav.ah-account-menu-nav ul.sub-menu {
}

nav.ah-account-menu-nav ul.sub-menu li {
	margin: 0 0 5px 10px;
}

nav.ah-account-menu-nav ul.sub-menu li > a::before {
	content: '•';
	margin-right: 5px;
}

nav.ah-account-menu-nav ul.sub-menu li a {
	font-size: 11px;
	padding: 2px 0;
	color: inherit;
}

nav.ah-account-menu-nav ul.sub-menu li a:hover,
nav.ah-account-menu-nav ul.sub-menu li a:active {
	text-decoration: underline;
}

nav.ah-account-menu-nav li.current-menu-item > a {
	font-weight: 700;
}

nav.ah-account-menu-nav li.separator {
	margin: 20px 0;
	height: 1px;
	background: #b3b3b3;
}
/*
End: Account Sidebar
*/

/*
Start: Account Sidebar (Mobile)
*/
/* Hide checkbox */
#ah-mobile-nav-toggle {
	position: absolute;
	z-index: -1;
	visibility: hidden;
	top: -1000px;
}

/* Hide mobile features on desktop */
@media ( min-width: 980.1px ) {
	#ah-mobile-nav-toggle,
	#ah-mobile-nav-label {
		display: none;
	}
}

/* Show mobile menu toggle */
@media ( max-width: 980px ) {
	.ah-account-menu-nav {
		padding: 25px 20px 10px;
	}

	#ah-mobile-nav-label {
		margin: 0;
		padding: 10px 44px 10px 20px;

		background: #054f68;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		font-family: Montserrat, sans-serif;

		position: relative;
	}

	#ah-mobile-nav-label::after {
		content: '';
		display: block;
		width: 10px;
		height: 10px;

		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-top: 1px solid transparent;
		border-right: 1px solid transparent;

		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -7px;
		transform: rotate(-45deg);
		transform-origin: center;

		transition: transform 0.15s linear, margin-top 0.15s linear;
	}

	input:checked + .ah-mobile-account-nav #ah-mobile-nav-label::after {
		margin-top: -3px;
		transform: rotate(135deg);
	}

	.ah-mobile-account-nav {
		position: relative;
	}

	.ah-mobile-account-nav nav {
		position: absolute;
		z-index: 100;
		left: 0;
		width: 100%;

		display: none;
		transform: rotateX(90deg);
		transform-origin: top;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	input:checked + .ah-mobile-account-nav nav {
		display: block;
		transform: rotateX(0deg);
		animation: expandDown 0.3s ease-out;
	}
}

@keyframes expandDown {
	0% { transform: rotateX(90deg); }
	100% { transform: rotateX(0deg); }
}
/*
End: Account Sidebar (Mobile)
*/

/*
Start: Stylized Table <table class="ah-table"></table>
*/
table.ah-table thead th,
table.ah-table-responsive th[data-mobile-label]::before,
table.ah-table-responsive td[data-mobile-label]::before {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	color: #204f66;
	font-weight: 600;
}

table.ah-table th,
table.ah-table td {
	padding: 20px 30px 20px 0;
	border-bottom: 1px solid #bfc9c8;
}

table.ah-table thead th {
	padding-top: 5px;
	padding-bottom: 10px;
}

table.ah-table :last-child > tr:last-child > th,
table.ah-table :last-child > tr:last-child > td {
	border-bottom: none;
}

html .ah-table .col-actions .button {
	margin: 0 5px 0 0 !important;
}
/*
End: Stylized Table
*/

/*
Start: Responsive Table <table class="ah-table ah-table-responsive"></table>
       I suggest having a label on each: <td data-mobile-label="First Name">Radley</td>
*/
@media ( max-width: 724px ) { /* 980 - 256 */
	table.ah-table-responsive tbody,
	table.ah-table-responsive tr,
	table.ah-table-responsive th,
	table.ah-table-responsive td {
		display: block;
		padding: 0;
		border-bottom: none;
	}

	table.ah-table-responsive thead,
	table.ah-table-responsive tfoot {
		display: none;
	}

	table.ah-table-responsive {
		display: block;
	}

	table.ah-table-responsive th[data-mobile-label],
	table.ah-table-responsive td[data-mobile-label] {
		text-align: center;
		margin: 0 0 20px;
	}

	table.ah-table-responsive th[data-mobile-label]::before,
	table.ah-table-responsive td[data-mobile-label]::before {
		content: attr(data-mobile-label);
		display: block;
	}

	table.ah-table-responsive tr {
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #bfc9c8;
	}

	table.ah-table-responsive tr:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	/* Buttons on one row for invoice table */
	html .ah-table-responsive .col-actions .button {
		display: block;
		width: fit-content;
		margin: 0 auto 15px !important;
	}

	html .ah-table-responsive .col-actions .button:last-child {
		margin-bottom: 0 !important;
	}
}
/*
End: Stylized Table
*/

/*
Start: Document Table [ah_documents]
*/
.ah-document-table .col-preview img {
	display: block;
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
	margin: 0 auto;
	border-radius: 3px;
}

.ah-document-table .category-name {
	font-size: 14px;
}
/*
End: Document Table
*/

/*
Start: Theme Notices
*/
.ah-theme-notice {
	display: grid;
	grid-template-columns: 1fr auto;
	background: #f1f1f1;
	padding: 15px 20px;
	margin: 10px auto;
	border-left: 5px solid gray;

	max-width: 1120px;
}

.ah-theme-notice.notice-success { border-left-color: #4eaa23; }
.ah-theme-notice.notice-error { border-left-color: #b72222; }
.ah-theme-notice.notice-warning { border-left-color: #eeee46; }
.ah-theme-notice.notice-info,
.ah-theme-notice.notice-message { border-left-color: #287094; }

.ah-theme-notice .ah-theme-dismiss {
	grid-area: 1 / 2;
	font-size: 28px;
	line-height: 18px;
}
/*
End: Theme Notices
*/


/*
Start: Grid content layout
*/
.row {
	display: grid;
	grid-gap: 20px 40px;
}

.row .column {
	grid-area: 1;
}

.clear {
	display: table;
	clear: both;
}
/*
End: Grid content layout
*/