/*
Start: Theme
*/
/*
.button.button-text {
	border-color: transparent !important;
	background: transparent !important;
	color: #204f66;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.button.button-text:hover {
	color: #966228;
}
*/

pre, dl, table, ul, ol, li, form {
	margin: 0 0 10px;
}

/*
End: Theme
*/

/*
Start: Gravity Forms
*/
body.account-page .gform_wrapper {
	max-width: none !important;
	margin: 0 !important;
}
/*
End: Gravity Forms
*/

/*
Start: Account Menus
*/
.account-columns {
	margin: 40px 0;
}

.account-content > .flex-section:first-child {
	margin-top: 0;
}

.account-content > .flex-section:last-child {
	margin-bottom: 0;
}

@media ( min-width: 980.1px ) {
	.account-columns {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-gap: 0 40px;
	}

	/* Sticky account sidebar */
	.account-sidebar {
		position: relative;
	}

	.ah-mobile-account-nav {
		position: sticky;
		top: 50px;
		overflow: auto;
		max-height: calc( 100vh - 50px );
	}
	/* End sticky account sidebar */

}

@media ( max-width: 980px ) {
	.account-sidebar {
		margin-bottom: 15px;
	}

	.account-content .content-block {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

/* Fixed (sticky) account menu navigation */
@media ( max-width: 980px ) {
	body .account-sidebar {
		position: relative;
		z-index: 1000;
	}

	body.scrolled-past-account-sidebar .account-sidebar {
		position: sticky;
		top: 0;
	}

	body.admin-bar.scrolled-past-account-sidebar  .account-sidebar {
		top: 32px;
	}

	.ah-account-menu-nav {
		max-height: calc(100vh - 46px);
		overflow-y: auto;
	}

	/* Scroll to hide/show the navigation */
	.account-sidebar {
		transform: translateY(0%);
		transition: transform 0.2s linear;
		margin-top: -1px;
	}

	body.scrolled-past-account-sidebar .ah-account-menu-nav {
		padding: 20px 32px;
	}

	body.scrolled-past-account-sidebar #ah-mobile-nav-label {
		padding-left: 32px;
		padding-right: 50px;
	}
	body.scrolled-past-account-sidebar #ah-mobile-nav-label::after {
		right: 32px;
	}

	body.scrolled-past-account-sidebar.scrolled-down .account-sidebar {
		transform: translateY(-110%);
	}
}

@media ( max-width: 782px ) {
	/* At 782px, the admin bar becomes 46px tall */
	body.admin-bar.scrolled-past-account-sidebar .account-sidebar {
		top: 46px;
	}
}

@media ( max-width: 600px ) {
	/* At 600px, the admin bar is no longer fixed */
	body.admin-bar.scrolled-past-account-sidebar .account-sidebar {
		top: 0;
	}
}

/* Adjust to margins of the page */
@media ( max-width: 980px ) {
	body.scrolled-past-account-sidebar .account-sidebar {
		margin-left: -20px;
		margin-right: -20px;
	}
}
@media ( max-width: 980px ) and ( min-width: 767px ) {
	body.scrolled-past-account-sidebar .account-sidebar {
		margin-left: -32px;
		margin-right: -32px;
	}
}

/*
End: Account Menus
*/




/*
Start: Custom buttons
*/
html .ah-button.button {
	font-size: 14px;
	padding: 10px 20px;

	background: #aa4a3a;
	color: #fff;
	border: 1px solid #aa4a3a;
}

@media ( min-width: 1200px ) {
	html .ah-button.button:not(.button-small) {
		font-size: 16px;
		padding: 15px 25px;
	}
}

html .ah-button.button:hover,
html .ah-button.button:active {
	background: #204f66;
	color: #fff;
	border: 1px solid #204f66;
}

html .ah-button.button-secondary {
	background: transparent;
	color: #aa4a3a;
	border: 1px solid #aa4a3a;
}
html .ah-button.button-secondary:hover,
html .ah-button.button-secondary:active {
	background: #dee5e8;
	color: #204f66;
	border: 1px solid #204f66;
}

/*
End: Custom buttons
*/

/*
Start: Account Sidebar
*/
.ah-account-menu-nav {
	background: #f1f1f1;
	padding: 40px 30px 25px;
}

nav.ah-account-menu-nav ul,
nav.ah-account-menu-nav li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.ah-account-menu-nav {
	font-size: 14px;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	line-height: 1.35;
}

nav.ah-account-menu-nav ul {
}

nav.ah-account-menu-nav li {
	margin: 5px 0 10px;
}

nav.ah-account-menu-nav li a {
	display: inline-block;
	padding: 4px 0;
}

.account-sidebar .chevron {
	display: none;
}

nav.ah-account-menu-nav ul.sub-menu {
}

nav.ah-account-menu-nav ul.sub-menu li {
	margin: 0 0 5px 10px;
}

nav.ah-account-menu-nav ul.sub-menu li > a::before {
	content: '\2022';
	margin-right: 5px;
}

nav.ah-account-menu-nav ul.sub-menu li a {
	font-size: 11px;
	padding: 2px 0;
}

nav.ah-account-menu-nav li.current-menu-item > a {
	font-weight: 700;
}

nav.ah-account-menu-nav li.separator {
	margin: 20px 0;
	height: 1px;
	background: #b3b3b3;
}

/* Sidebar font colors */
nav.ah-account-menu-nav li a {
	text-decoration: none;
	color: #966228;
}

nav.ah-account-menu-nav li a:hover,
nav.ah-account-menu-nav li a:active {
	text-decoration: none;
	color: #204f66;
}

nav.ah-account-menu-nav ul.sub-menu li a {
	text-decoration: none;
	color: #303333;
}

nav.ah-account-menu-nav ul.sub-menu li a:hover,
nav.ah-account-menu-nav ul.sub-menu li a:active {
	text-decoration: none;
	color: #AA4A3B;
}

/*
End: Account Sidebar
*/

/*
Start: Account Sidebar (Mobile)
*/
/* Hide checkbox */
#ah-mobile-nav-toggle {
	position: absolute;
	z-index: -1;
	visibility: hidden;
	top: -1000px;
}

/* Hide mobile features on desktop */
@media ( min-width: 980.1px ) {
	#ah-mobile-nav-toggle,
	#ah-mobile-nav-label {
		display: none;
	}
}

/* Show mobile menu toggle */
@media ( max-width: 980px ) {
	.ah-account-menu-nav {
		padding: 25px 20px 10px;
	}

	#ah-mobile-nav-label {
		margin: 0;
		padding: 10px 44px 10px 20px;

		background: #054f68;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		font-family: Montserrat, sans-serif;

		position: relative;
	}

	#ah-mobile-nav-label::after {
		content: '';
		display: block;
		width: 10px;
		height: 10px;

		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-top: 1px solid transparent;
		border-right: 1px solid transparent;

		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -7px;
		transform: rotate(-45deg);
		transform-origin: center;

		transition: transform 0.15s linear, margin-top 0.15s linear;
	}

	input:checked + .ah-mobile-account-nav #ah-mobile-nav-label::after {
		margin-top: -3px;
		transform: rotate(135deg);
	}

	.ah-mobile-account-nav {
		position: relative;
	}

	.ah-mobile-account-nav nav {
		position: absolute;
		z-index: 100;
		left: 0;
		width: 100%;

		display: none;
		transform: rotateX(90deg);
		transform-origin: top;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	input:checked + .ah-mobile-account-nav nav {
		display: block;
		transform: rotateX(0deg);
		animation: expandDown 0.3s ease-out;
	}
}

@keyframes expandDown {
	0% { transform: rotateX(90deg); }
	100% { transform: rotateX(0deg); }
}
/*
End: Account Sidebar (Mobile)
*/

/*
Start: Stylized Table <table class="ah-table"></table>
*/
table.ah-table thead th,
table.ah-table-responsive th[data-mobile-label]::before,
table.ah-table-responsive td[data-mobile-label]::before {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	color: #204f66;
	font-weight: 600;
}

table.ah-table th,
table.ah-table td {
	padding: 20px 30px 20px 0;
	border-bottom: 1px solid #bfc9c8;
}

table.ah-table thead th {
	padding-top: 5px;
	padding-bottom: 10px;
}

table.ah-table :last-child > tr:last-child > th,
table.ah-table :last-child > tr:last-child > td {
	border-bottom: none;
}

html .ah-table .col-actions .button {
	margin: 0 5px 0 0 !important;
}
/*
End: Stylized Table
*/

/*
Start: Responsive Table <table class="ah-table ah-table-responsive"></table>
       I suggest having a label on each: <td data-mobile-label="First Name">Radley</td>
*/
@media ( max-width: 724px ) { /* 980 - 256 */
	table.ah-table-responsive tbody,
	table.ah-table-responsive tr,
	table.ah-table-responsive th,
	table.ah-table-responsive td {
		display: block;
		padding: 0;
		border-bottom: none;
	}

	table.ah-table-responsive thead,
	table.ah-table-responsive tfoot {
		display: none;
	}

	table.ah-table-responsive {
		display: block;
	}

	table.ah-table-responsive th[data-mobile-label],
	table.ah-table-responsive td[data-mobile-label] {
		text-align: center;
		margin: 0 0 20px;
	}

	table.ah-table-responsive th[data-mobile-label]::before,
	table.ah-table-responsive td[data-mobile-label]::before {
		content: attr(data-mobile-label);
		display: block;
	}

	table.ah-table-responsive tr {
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #bfc9c8;
	}

	table.ah-table-responsive tr:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	/* Buttons on one row for invoice table */
	html .ah-table-responsive .col-actions .button {
		display: block;
		width: fit-content;
		margin: 0 auto 15px !important;
	}

	html .ah-table-responsive .col-actions .button:last-child {
		margin-bottom: 0 !important;
	}
}
/*
End: Stylized Table
*/

/*
Start: Document Table [ah_documents]
*/
.ah-document-table .col-preview img {
	display: block;
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
	margin: 0 auto;
	border-radius: 3px;
}

.ah-document-table .category-name {
	font-size: 14px;
}
/*
End: Document Table
*/

/*
Start: Theme Notices
*/
.ah-theme-notice {
	display: grid;
	grid-template-columns: 1fr auto;
	background: #f1f1f1;
	padding: 15px 20px;
	margin: 10px auto;
	border-left: 5px solid gray;

	max-width: 1120px;
}

.ah-theme-notice.notice-success { border-left-color: #4eaa23; }
.ah-theme-notice.notice-error { border-left-color: #b72222; }
.ah-theme-notice.notice-warning { border-left-color: #eeee46; }
.ah-theme-notice.notice-info,
.ah-theme-notice.notice-message { border-left-color: #287094; }

.ah-theme-notice .ah-theme-dismiss {
	grid-area: 1 / 2;
	font-size: 28px;
	line-height: 18px;
}
/*
End: Theme Notices
*/


/*
Start: Grid content layout
*/
.row {
	display: grid;
	grid-gap: 20px 40px;
}

.row .column {
	grid-area: 1;
}

.clear {
	display: table;
	clear: both;
}
/*
End: Grid content layout
*/

/* Start: [ah_itinerary] shortcode */
.ah-itineraries:not(:first-child) {
	margin-top: 40px;
}

.itinerary-list .title {
	margin-bottom: 10px;
}

.itinerary-list .title a {
	color: #204f66;
}

.itinerary-list .title a:hover,
.itinerary-list .title a:active {
	color: #966228;
}

.itinerary-list .subtitle {
	color: inherit;
	line-height: 1.5;
	margin-bottom: 10px;
}

.flex-section .content-wrapper .button-row .button {
	margin-top: 0 !important;
}

.itinerary-list .itinerary-item:not(:last-child) {
	margin-bottom: 60px;
}

/* Itinerary list - counter */
.itinerary-list {
	counter-reset: itinerary-counter;
}

.itinerary-list .itinerary-item {
	counter-increment: itinerary-counter;
}

@media ( max-width: 767.9px ) {
	.itinerary-list .itinerary-item .title::before {
		content: counter(itinerary-counter) ". ";
	}
}


/* (Show numbered list of itineraries) */
/*
@media ( min-width: 768px ) {
	.itinerary-list .itinerary-item {
		position: relative;
		padding-left: 60px;
	}

	.itinerary-list .itinerary-item::before {
		content: counter(itinerary-counter);

		display: inline-block;
		float: left;
		margin-left: -60px;
		margin-top: 8px;

		width: 40px;
		height: 40px;
		line-height: 40px;

		border-radius: 40px;
		background: #204f66;
		color: #fff;

		font-family: Montserrat, sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}
}
*/

/* End: [ah_itinerary] shortcode */

/* Start: button row (used in ah_itinerary shortcode) */
.button-row {
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	vertical-align: middle;
}

.button-row a.button {
	margin: 0;
	font-size: 14px;
	padding: 12px 16px;

	line-height: 1.2 !important;
	display: flex;
	align-items: center;
}

.button-row .button.button-primary {
	background-color: #204f66;
	border-color: transparent;
	color: #fff;
}

.button-row .button.button-primary:hover {
	background-color: #966228;
	border-color: transparent;
	color: #fff;
}

.button-row .button.button-outline {
}
/* End: button row */

/* Start: Profile form shortcode [ah_profile] */
.ah-profile-form h3 {
	font-size: 24px;
	line-height: 1.1;
	margin: 30px 0 20px;
}

.ah-profile-form h3:first-child {
	margin-top: 0;
}

.ah-field {
	max-width: 600px;
	margin: 10px 0 20px;
}

.ah-field .ah-label {
	font-size: 16px;
	line-height: 1.1;
	font-weight: 700;
	margin: 0 0 3px;
}

.ah-field .ah-input input[type="text"],
.ah-field .ah-input input[type="password"],
.ah-field .ah-input select,
.ah-field .ah-input textarea {
	margin: 0;
	width: 100%;
}

.ah-field.ah-field--name .ah-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.ah-validation-error-message p {
	font-size: 16px;
	color: #b72222;
}

.ah-field.ah-submit input[type="submit"] {
	margin-top: 0 !important;
}
/* End: Profile form shortcode [ah_profile] */

/* Start: Itinerary menu */
.scroll-tracking-menu .menu-item > a {
	position: relative;
}
.scroll-tracking-menu .menu-item > a::before {
	content: '\00276f ';
	position: absolute;
	right: 100%;
	margin-right: 5px;
	font-family: Arial, sans-serif;
	display: none;
}

.scroll-tracking-menu .menu-item.scroll-target > a {
	font-weight: 700;
}
.scroll-tracking-menu .menu-item.scroll-target > a::before {
	display: block;
}
/* End: Itinerary menu */

/* Start: Itinerary Dots menu */
ul.menu-dots,
ul.menu-dots li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu-dots {
	position: fixed;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

ul.menu-dots li {
	display: block;
}

ul.menu-dots a {
	position: relative;
	display: block;
	margin: 10px 0;
}

ul.menu-dots a::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: #ffffff;
	border: 1px solid #303333;
	/*border: 1px solid #966228;*/
}

ul.menu-dots li.scroll-target a::before {
	background: #303333;
	/*background: #966228;*/
}

ul.menu-dots span {
	display: none;
}

body.menu-dots-added .account-content {
	padding-left: 12px !important;
}

ul.menu-dots {
	display: none;
}

@media ( max-width: 980px ) {
	ul.menu-dots {
		display: block;
	}
}

/* Dot menu - show section name when activated */
li.menu-dot a {
	display: block;
	position: relative;
}

li.menu-dot a span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	padding: 3px;
	font-size: 15px;
	line-height: 1;
	font-weight: 700;
	/*color: #204f66;*/
	color: #333;
	border-radius: 3px;
}

/*
li.menu-dot.scroll-target a span {
	display: block;
}

li.menu-dot.scroll-target a span {
	clip: rect(1px, 1px, 1px, 1px);
	opacity: 0;
	animation: fadeInDotText 1.25s linear;
}
*/

@keyframes fadeInDotText {
	0% {
		clip: rect(1px, 1px, 1px, 1px);
		opacity: 0;
	}
	1% {
		clip: auto;
	}
	20% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}
	99% {
		clip: auto;
	}
	100% {
		clip: rect(1px, 1px, 1px, 1px);
		opacity: 0;
	}
}
/* End: Itinerary Dots menu */




/*
Start: Invoices
*/
.invoice-list {
	display: grid;
	gap: 30px;
}

.invoice-title {
	margin: 0 0 10px;
}
/*
End: Invoices
*/

/*
Start: Scaled images
*/
.ah-image-scale {
	position: relative;
	text-align: left;
}

.ah-image-scale img {
	position: absolute;
	top: 0;
	left: 0;
}
/*
End: Scaled images
*/