/*
Start: Gravity Forms
*/
body.account-page .gform_wrapper {
	max-width: none !important;
	margin: 0 !important;
}
/*
End: Gravity Forms
*/

/*
Start: Account Menus
*/
.account-columns {
	margin: 40px 0;
}

.account-content > .flex-section:first-child {
	margin-top: 0;
}

.account-content > .flex-section:last-child {
	margin-bottom: 0;
}

@media ( min-width: 981px ) {
	.account-columns {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-gap: 0 40px;
	}
}

@media ( max-width: 980px ) {
	.account-sidebar {
		margin-bottom: 20px;
	}
}
/*
End: Account Menus
*/

/*
Start: Invoice list table for ah_invoices shortcode
*/
.ah-invoice-status-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #eee;
	transform: translateY( -1px );
	margin-right: 2px;
}

.ah-invoice-status-indicator.status-awaiting-payment { background: #0d83bc; }
.ah-invoice-status-indicator.status-processing { background: #bcb30d; }
.ah-invoice-status-indicator.status-payment-failed { background: #d54f10; }
.ah-invoice-status-indicator.status-paid { background: #c1c1c1; display: none; }

html .ah-invoices .col-actions .button {
	margin: 0 5px 0 0 !important;
}

.ah-invoices .col-actions .button-small {
	font-size: 12px;
	padding: 1px 5px;
}
/*
End: Invoice list table for ah_invoices shortcode
*/
/*
Start: Invoice singular page
*/
.invoice-additional-details {
	margin-top: 40px;
}
/*
End: Invoice singular page
*/